<!DOCTYPE html>
<html lang="en" >
<head>
    <title>COC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- code I found that is supposed to make the page compatible with IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom Styles -->
    <link rel="stylesheet" href="../../style.css"  type="text/css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body> 
<!-- Navbar -->
    <div class="sticky-top ">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- Home -->
                    <li class="nav-item active">
                        <a class="nav-link" href="file:///C:/Users/mcdev/Documents/PROJECTS/COC_Website/index.html#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- About -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="file:///C:/Users/mcdev/Documents/PROJECTS/COC_Website/Views/About/index.html#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="file:///C:/Users/mcdev/Documents/PROJECTS/COC_Website/Views/About/index.html#">What We Believe</a>
                            <a class="dropdown-item" href="file:///C:/Users/mcdev/Documents/PROJECTS/COC_Website/Views/About/index.html#">Home Groups</a>
                            <a class="dropdown-item" href="file:///C:/Users/mcdev/Documents/PROJECTS/COC_Website/Views/About/index.html#">Leadership</a>
                            <a class="dropdown-item" href="file:///C:/Users/mcdev/Documents/PROJECTS/COC_Website/Views/About/index.html#">History</a>
                        </div>
                    </li>
                    <!-- Sermons -->
                    <li class="nav-item">
                        <a class="nav-link" href="file:///C:/Users/mcdev/Documents/PROJECTS/COC_Website/Views/Sermons/index.html#">Sermons</a>
                    </li>
                    <!-- Contact -->
                    <li class="nav-item">
                        <a class="nav-link" href="file:///C:\Users\mcdev\Documents\PROJECTS\COC_Website\Views\Contact\index.html">Contact</a>
                    </li>
                    <!-- School -->
                    <li class="nav-item">
                        <a class="nav-link" href="http://christianoutreachchurch.org/school/">School</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="flex-container">
            <div class="color-1"></div>
            <div class="color-2"></div>
       <!-- <div class="color-3"></div> -->
            <div class="color-4"></div>
            <div class="color-5"></div>
        </div>
    </div>
    <!-- Main Content -->
    <main>
        Contact Us
        Christian Outreach Church
        4430 Outreach Drive
        Hillsboro, Mo 63050
        (636) 789-3901
        email@christianoutreachchurch.org
        
        Christian Outreach School
        4440 Outreach Drive
        Hillsboro, Mo 63050
        (636) 797-3466
        christianoutreachschool@gmail.com
    </main>


    <i href="#" style="text-align: center; margin-left: 40vw; padding: 20px;">Facebook</i>
    <footer class="fixed-bottom">
        <div class="flex-container">
            <div class="color-1"></div>
            <div class="color-2"></div>
        <!--<div class="color-3"></div>-->
            <div class="color-4"></div>
            <div class="color-5"></div>
        </div>
    </footer>

    <!-- Required bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
