<p>http://christianoutreachchurch.org/school/</p>
<p>https://codepen.io/mrzlab630/pen/XWJOzvP</p>
<p>https://codepen.io/SHI3Z/details/ZEYNOaQ</p>

<!-- This one is very nice: -->
<b>https://codepen.io/k-ivan/details/pJMLmJ
   https://codepen.io/k-ivan/pen/KMdmeM simpler version
</b>

<!-- good version for audio archive -->
<i>https://codepen.io/markhillard/pen/Hjcwu</i>

<!-- very simple version -->
<small>https://codepen.io/vanderzak/details/BayjVep</small>

<!-- clean and pretty -->
<b>https://codepen.io/PavelLaptev/pen/GZqgdL</b>

<audio id="player" src="http://christianoutreachchurch.org/sermons/downloads/latest.mp3"></audio>
<div> 
<button onclick="document.getElementById('player').play()">Play</button> 
<button onclick="document.getElementById('player').pause()">Pause</button> 
<button onclick="document.getElementById('player').volume += 0.1">Vol +</button> 
<button onclick="document.getElementById('player').volume -= 0.1">Vol -</button> 
</div>